header {
    width: 100%;
    padding-top: 2%;
    
    
    
}

.header_container {
    width: 100%;
    padding: 2%;
    box-shadow: -1px 11px 12px -2px rgba(0,0,0,0.31);
    display: flex;
    justify-content: center;
}

.header_container img {
    margin: 0 auto;
    max-width: 250px;
    
}