header {
    width: 100%;
    padding-top: 2%;     
}

.header_container {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 13px 15px -1px rgba(0,0,0,0.57);
    
        img {
            margin: 0 auto;
            max-width: 250px;
        }
}



