@media (min-width: $tablet_breakpoint) and (max-width: 1279px) {

    .header_container img {
        max-width: 200px;
    }

    .fa-map-marker-alt {
        padding-left: 41%;
    }

    .fa-arrow-left {
        top: 35%;
    }

    .background_menu {
        height: 350px;
    }

    .background_menu img {
        height: 375px;
    }

    #menu {
        padding-bottom: 6%;
    }

    #menu .fa-heart {
        position: absolute;
        top: 3%;
        left: 92%;
    }

    .dish_menu {
        padding: 2%;
        margin-left: 3%;
    }

    .restaurants {
        display: flex;
        flex-wrap: wrap;
    }

    .card_restaurant {
        width: 45%;
    }

   footer {

    

   }

    footer span {
        padding-bottom: 1%;
    }

    footer a {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: $desktop_breakpoint) {
    
    .header_container {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .header_container img {
        max-width: 200px;
    }

    form {
        height: 53px;
    }

    #input_bar {
        font-size: 21px;
        padding-left: 3%;
    }

    .fa-map-marker-alt {
        padding-left: 45%;
        font-size: 24px;
    }

    .fa-arrow-left {
        top: 40%;
    }

    h1 {
        font-size: 40px;
    }

    .headline {
        padding: 2%;
    }

    .headline p {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .how_to {
        display: flex;
        flex-direction: row;
        padding-bottom: 4%;
        width: 90%;
        margin: 0 auto;
    }

    .instruction {
        margin-right: 25px;
    }

    h2 {
        padding-left: 1%;
        padding-bottom: 2%;
    }

    h3 {
        padding-left: 1%;
    }

    .background_menu {
        height: 350px;
    }

    .background_menu img {
        height: 400px;
    }

    #menu {
        padding-bottom: 4%;
    }

    #menu .fa-heart {
        position: absolute;
        top: 3%;
        left: 95%;
    }

    .title_menu {
        font-size: 35px;
        padding-left: 2%;
    }

    .sections_menu_title {
        font-size: 27px;
        padding-left: 2%;
    }

    hr {
        height: 6px;
        width: 60px;
        left: 2%;
        top: 62%;
    }

    .dish_menu_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .dish_menu {
        width: 28%;
        padding: 1%;
        
    }

    .dish_menu_p {
        font-size: 15px;
    }

    .dish_name_menu {
        font-size: 20px;
    }

    .pricetag_menu {
        font-size: 20px;
    }

    .btn_menu {
        margin-top: 60px;
    }

    .restaurants {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .restaurants_title {
        padding-left: 1%;
        width: 100%;
    }

    .card_restaurant {
        width: 45%;
        padding-bottom: 7%;

    }

    .card_restaurant_image {
        height: 250px;
    }

    .card_restaurant_new {
        padding: 1% 2%;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1%;
        
    }

    footer a {
        width: 20%;
        padding: 0;
        text-align: center;
    }

}

