@media (min-width: $tablet_breakpoint) {

    header {
        border: 3px solid red;
    }

    .fa-map-marker-alt {
        padding-left: 41%;
    }

    .restaurants {
        display: flex;
        flex-wrap: wrap;
    }

    .card_restaurant {
        width: 45%;
    }

    footer {
        padding: 2%;
        padding-bottom: 2%;
    }

    footer span {
        padding-bottom: 1%;
    }

    footer a {
        display: flex;
        justify-content: center;
    }

}

@media (min-width : $desktop_breakpoint) and (max-width: 1920px) {
    
    header {
        border: 3px solid blue;

    }

    .header_container img {
        max-width: 350px;
    }

    form {
        height: 53px;
    }

    #input_bar {
        font-size: 21px;
        padding-left: 3%;
    }

    .fa-map-marker-alt {
        padding-left: 45%;
        font-size: 24px;
    }


    .headline {
        padding: 8%;
    }

    .headline p {
        padding-bottom: 20px;
    }

    .how_to {
        display: flex;
        flex-direction: row;
        padding-bottom: 4%;
    }

    h2 {
        padding-left: 2%;
        padding-bottom: 2%;
    }

    article {
        margin-bottom: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }

    h3 {
        padding-left: 2%;
        padding-bottom: 2%;
    }

    .card_restaurant {
        height: 400px;
    }

    .card_restaurant_new {
        padding: 1% 2%;
    }

    .card_restaurant_image {
        height: 305px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    footer a {
        
        padding: 0;
    }

}