.btn {
   background: linear-gradient($secondary_color, $primary_color);
   width: 220px;
   height: 51px;
   margin: 0 auto;
   border-radius: 25px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.btn_menu {
   margin-top: 30px;
}

.btn span {
   color: white;
   font-weight: 500;
}

.btn:hover {
   background: linear-gradient($secondary_color_alt, $primary_color_alt);
   box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

