.fa-arrow-left {
    font-size: 20px;
    position: absolute;
    top: 31%;
    left: 5%;
}

main {
    width: 100%;
    
}

.background_menu {
    width: 100%;
    height: 200px;
}

.background_menu img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.title_menu {
    font-family: 'Shrikhand';
    font-size: 26px;
    text-align: left;
    padding-left: 3%;
}

.sections_menu {
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: 3px $tertiary_color underline;
    display: flex;
    
}

.dish_name_menu {
    font-size: 18px;
    font-weight: 500;
    
}

.dish_menu p {
    font-weight: 300;
    font-size: 16px;
    padding-left: 4%;
}

#menu {
    background: $grey_background;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    
    position: relative;
    padding-bottom: 10%;
    
    
}

#menu i {
    position: absolute;
    top: 3%;
    left: 85%;
    font-size: 24px;
}

.dish_menu {
    width: 90%;
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* Il y'a un hover car hérité de la classe article sur index.htm*/

}

.pricetag_menu {
    font-weight: 600;
    position: absolute;
    top: 68%;
    left: 90%;
}
