body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 1% 0 1%;
}


h1 {
    text-align: center;
}

.headline p {
    text-align: center;
    font-weight: 300;
}