
h2 {
    padding-top: 2%;
    padding-left: 4%;
}

.how_to {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    article {

        display: flex;
        justify-content: center;
        align-items: center;
        background: #f6f6f6;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px 20px 20px 20px;
        width: 80%;
        height: 60px;
        position: relative;
        margin-bottom: 25px;

    }

    .howto_instruction_nb {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary_color;
        color: white;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        left: -10px;
    }

    i {
        padding-right: 10px;
    }
}

article:hover {
    background: #f5edff;

    i  {
        color: $primary_color;
    }
}
