$logo_font: 'Shrikhand';
$primary_color : #9356DC;
$primary_color_alt: #a371de;
$secondary_color: #FF79DA;
$secondary_color_alt : #fa8cdc;
$tertiary_color : #99E2D0;
$quartermary_color: #353535;
$grey_background : #f6f6f6;
$tablet_breakpoint: 768px;
$desktop_breakpoint: 1280px;

